{% extends 'portfolio/base.html' %} {% load static %} {% block content %}


<div class="container mt-3">
  <h1 class="font-weight-bold text-center">Blog</h1>
  <h3 class="font-weight-bold text-center">Total blog{{ blogs.count|pluralize }}: {{ blogs.count }}</h3>
  {% for blog in blogs %}
  <div class="row justify-content-center my-3">
    <div class="col-md-10">
      <h2><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a></h2>
      <h5>{{ blog.description|safe|truncatechars:100 }}</h5>
      <h6>{{ blog.date|date:'D d M, Y'|upper }}</h6>
      <br>
      <br>
    </div>
  </div>
      {% endfor %}
  {% endblock %}


  <!--<a href="{% url 'blog:detail' blog.id %}">enlace</a>-->